.footer {
    background-color: #f8f8f8; /* Optional: set a background color */
    padding: 20px 0; /* Add some padding */
}


.img {
    margin-bottom: 10px; /* Add some spacing below the logo */
}

.footer-logo {
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the height equal to width for a circular shape */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}
